<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
      a:link {
        color: green;
        background-color: transparent;
        text-decoration: none;
}
    </style>
</head>
<body style="background-color: black; color: whitesmoke; margin: 0;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('admin_main.admin_dashs')}}" >Marrige Palace</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_main.admin_hall')}}">Hall for Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_main.create_post')}}" >Create Hall</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_main.date_index')}}">Show Meeting date</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_main.admin_menu')}}">Add Your Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_main.admin_blog')}}">Add Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Date Data</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <br>
    

    {% block admin_content %}
    {% block create_post %}
    {% block edit_post %}
    {% block meeting_date %}
    {% block admin_menu %}
    {% block edit_menu %}
    {% block admin_blog %}
    {% block edit_blog %}



    <h2>WELCOME To Admin </h2>




    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    {% endblock %}



   



</body>
</html>