<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>WELCOME To Admin {{name}} </h2>
    <a href="{{ url_for('admin_hall')}}">Hall for Post</a>
    <br>
    <a href="{{ url_for('create_post')}}">create Hall</a>
    <br>
    <a href="{{ url_for('meet_date') }}">Show Meeting date</a>
    <br>
    <a href="{{ url_for('admin_menu') }}">Add Your Menu</a>
    <br>
    <a href="{{ url_for('admin_blog') }}">Add Blog</a>


    {% block admin_content %}

    {% endblock %}
    
    {% block create_post %}

    {% endblock %}

    {% block edit_post %}

    {% endblock %}

    {% block meeting_date %}

    {% endblock %}

    {% block admin_menu %}

    {% endblock %}

    {% block edit_menu %}

    {% endblock%}

    {% block admin_blog %}

    {% endblock%}

    {% block edit_blog %}

    {% endblock%}



</body>
</html>