{% extends "admin/admin_index.html" %}
{% block admin_menu %}

<div class="d-lg-flex justify-content-between p-4">

    <div class="">
        <h2>Add your Items Here:- </h2>
        <form action="" method="post">
            <label for="started">Started:</label>
            <input class="form-control" type="text" name="st" id="">
            <br>
            <input class="form-control" type="file" name="" id="">
            <br>
            <br>
            <label for="Breakfast">Breakfast: </label>
            <input class="form-control" type="text" name="bf" id="">
            <br>
            <input class="form-control" type="file" name="" id="">
            <br>
            <br>
            <label for="Lunch">Lunch: </label>
            <input class="form-control" type="text" name="lh" id="">
            <br>
            <input class="form-control" type="file" name="" id="">
            <br>
            <br>
            <label for="Dinner">Dinner: </label>
            <input class="form-control" type="text" name="dn" id="">
            <br>
            <input class="form-control" type="file" name="" id="">
            <br>
            <br>
            <label for="Specail">Specail: </label>
            <input class="form-control" type="text" name="sp" id="">
            <br>
            <input class="form-control" type="file" name="" id="">
            <br>
            <br>
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    
    </div>
    
    
    <div class="">
        <h2>Here Is List of menu:- </h2>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Started</th>
                    <th>Breakfast</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                    <th>Specail</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            
            {% for i in x: %}
            <tbody>
                <tr>
                    <td>{{i['started']}}</td>
                    <td>{{i['breakfast']}}</td>
                    <td>{{i['lunch']}}</td>
                    <td>{{i['dinner']}}</td>
                    <td>{{i['special']}}</td>
                    <td><a href="{{ url_for('admin_main.edit_menu', id=i['id'])}}">Edit</a></td>
                    <td><a href="{{ url_for('admin_main.del_menu', id=i['id'])}}">Delete</a></td>
            
                </tr>
            </tbody>
            
            {% endfor %}
        </table>
    </div>
</div>


{% endblock%}