{% extends "admin/booking_data.html"%}
{% block edit %}
<h3>edit:- </h3>

<div style="margin: auto; width: 50%; padding: 10px">
    <form action="" method="post">
        <input class="form-control" type="date" name="date" id="">
        <br>
        <select class="form-control" name="opt" id="">
            <option value="select_Type">Select Type</option>
            <option value="Marriage">Marriage</option>
            <option value="Function">Function</option>
            <option value="Birthday Party">Birthday Party</option>
            <option value="Ring_Ceromony">Ring Ceromony</option>
            <option value="Other">Other</option>
        </select>
        <br>
        <br>

        <label for="name">Edit-Name: </label>
        <input class="form-control" type="text" name="on" id="">
        <br>
        <br>

        <label for="Number">Edit-Number: </label>
        <input class="form-control" type="text" name="num" id="">
        <br>
        <br>

        <label for="amount">Total-Amount: </label>
        <input class="form-control" type="text" name="amount" id="">
        <br>
        <br>
        <input class="btn btn-success" type="submit" value="edit">
    </form>
</div>


{% endblock%}