{% extends "admin/admin_index.html" %}
{% block edit_blog %}

<div style="margin: auto; width: 50%; padding: 10px;">
    <form action="" method="post">
        <label for="title">Edit Blog Title</label>
        <input class="form-control" type="text" name="title" id="">
        <br>
        <br>
    
        <label for="img">Edit Picture</label>
        <input class="form-control" type="file" name="" id="">
        <br>
        <br>
    
        <label for="post">Edit Post </label>
        <input class="form-control" type="text" name="post" id="">
        <br>
    
        <input class="btn btn-success" type="submit" value="Update">
    </form>

</div>


{% endblock  %}