{% extends "admin/admin_index.html" %}
{% block edit_menu %}
<form action="" method="post">
    <label for="started">Edit-Started:</label>
    <input type="text" name="st" id="">
    <input type="file" name="" id="">
    <br>
    <br>
    <label for="Breakfast">Edit-Breakfast: </label>
    <input type="text" name="bf" id="">
    <input type="file" name="" id="">
    <br>
    <br>
    <label for="Lunch">Edit-Lunch: </label>
    <input type="text" name="lh" id="">
    <input type="file" name="" id="">
    <br>
    <br>
    <label for="Dinner">Edit-Dinner: </label>
    <input type="text" name="dn" id="">
    <input type="file" name="" id="">
    <br>
    <br>
    <label for="Specail">Edit-Specail: </label>
    <input type="text" name="sp" id="">
    <input type="file" name="" id="">
    <br>
    <br>
    <input type="submit" value="Update">
</form>

{% endblock%}