{% extends "admin/admin_index.html" %}
{% block create_post %}

    
    
    <a href="{{ url_for('admin_main.booking_data')}}">Show Boooking</a><br>
    <h1>Calendar:-</h1>

    <br>
    <div style=" width: 50%; padding: 2%;">

        <div class="d-flex justify-content-around">
            <div>
                <button class="btn btn-primary" id="prev" onclick="prev()">Prev</button>
            </div>
            
            <span id="month"></span>
            <span id="year"></span>

            <div>
                <button class="btn btn-primary" id="next" onclick="next()">Next</button>
            </div>
           

        </div>
        <br>

        <table class="table table-striped table-dark" id="tbl">



        </table>

    </div>
    

    {% block content %}
    {% block booking %}

    {% endblock %}
    {% endblock %}
    

<script src="/static/practice.js"></script>

{% endblock %}