{% extends "index.html" %}
{% block fuction %}
<h1>This is Function</h1>
<h4>Fuction types:</h4>

<div>
    <h1 href="#"> Pre-Wedding Shooting </h1><br>
    <img src="#" alt="img of open hall"><br>
    <button>Select</button> <br>
    <button>More Pictures</button>
</div>

<div>
    <h1 href="#"> Ring-Ceromony </h1><br>
    <img src="#" alt="img of open hall"><br>
    <button>Select</button> <br>
    <button>More Pictures</button>
</div>

<div>
    <h1 href="#"> Family-Gathering </h1><br>
    <img src="#" alt="img of open hall"><br>
    <button>Select</button> <br> 
    <button>More Pictures</button>
</div>

<div>
    <h1 href="#"> Marriages </h1><br>
    <img src="#" alt="img of open hall"><br>
    <button>Select</button> <br>
    <button>More Pictures</button>
</div>
 
<div>
    <h1 href="#"> Other Organization By Demand </h1><br>
    <img src="#" alt="img of open hall"><br>
    <button>Select</button> <br>
    <button>More Pictures</button>
</div>

{% endblock %}