{% extends "index.html" %}
{% block hall %}

<h1>This is Hall</h1>

<div class="row row-cols-1 row-cols-md-4 m-1">
    {% for i in x: %}
       <div class="col mb-4">
         <div class="p-3 card h-100" id="demo">
           <img class="card-img-top" width="100%" alt="Images here">
           <div class="card-body">
             <h5 class="card-title d-flex justify-content-center">{{i['title']}}</h5>
             <p class="card-text">{{i['content']}}  </p>
           </div>
         </div>
       </div>
    {% endfor%}
 </div>
<br>


{% endblock %}