<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <title>Document</title>
    <!-- Bootstrap CSS -->
    {% block head%}
    {% endblock %}
</head>
<body style="background-color: black; color: white;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('hel')}}" >Marrige Palace</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('resis')}}">Reistration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('hall')}}">Hall</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('date_shown')}}" >Date Avilblity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('booking')}}" >Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('menu')}}" >Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('blog')}}" >Blog</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <hr>

<!--1 This Block For Resistration For Client-->
  {% block content %}

<!--2 This Block For Hall Related Information-->
  {% block hall %}

<!--3 This Block For Date Ability related-->
  {% block date_shown %} 

<!--4 This Block For Function Type-->
  {% block fuction %}

<!--5 This Block For Booking -->
  {% block booking %}

<!--6 This Block For Booking -->
  {% block menu %}

<!--7 This Block For blog Type-->
  {% block blog %}

<!--8 This Block for Login-->
  {% block login %}

<!--9 This Block for creating blog-->
  {% block create_blog %}


  <h3>This is Home </h3>


  {% endblock %}
  {% endblock %}
  {% endblock %}
  {% endblock %}
  {% endblock %}
  {% endblock %}
  {% endblock %}
  {% endblock %}
  {% endblock %}


{% block footer%}
<br><br>
<hr>

<footer>
    Contect Information-- <br>
    Emial: marriage@gmail.com <br>
    Phone: 9876543211 <br>
    Instagram: marriage_990
</footer>
{% endblock%}

</script>
</body>
</html>