<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    {% block head%}
    {% endblock %}
</head>
<body>
    <h1>WELCOME  To Marriage Hall</h1>
    <h4>{{email}}</h4>

    <a href="{{ url_for('resis') }}">Reistration</a>
    <br><br>
    <a href="{{ url_for('hall') }}">Hall</a>
    <br><br>
    <a href="{{ url_for('dated') }}">Dated</a>
    <br><br>
    <a href="{{ url_for('booking') }}">Booking</a>
    <br><br>
    <a href="{{ url_for('menu') }}">Menu</a>
    <br><br>
    <a href="{{ url_for('blog') }}">Blog</a>
    <br><br>
    <hr>



<!--1 This Block For Resistration For Client-->
    {% block content %}

    {% endblock %}

<!--2 This Block For Hall Related Information-->
    {% block hall %}

    {% endblock %}

<!--3 This Block For Date Ability related-->
    {% block date %}

    {% endblock %}

<!--4 This Block For Function Type-->
    {% block fuction %}

    {% endblock %}

<!--5 This Block For Booking -->
    {% block booking %}

    {% endblock %}

<!--6 This Block For Booking -->
    {% block menu %}

    {% endblock %}

<!--7 This Block For blog Type-->
    {% block blog %}

    {% endblock %}

<!--8 This Block for Login-->
    {% block login %}
    
    {% endblock %}


{% block footer%}
<br><br>
<hr>

<footer>
    Contect Information-- <br>
    Emial: marriage@gmail.com <br>
    Phone: 9876543211 <br>
    Instagram: marriage_990
</footer>
{% endblock%}

</script>
</body>
</html>